body {
  background-image: url("../images/bgimage1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.nav {
  margin-top: 5px;
  min-height: max-content;
  margin-bottom: 10px;
  /* background-color: rgb(134, 134, 134); */
  height: 85px;
}

.nav h1 {

  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Pacifico', cursive;
  color: rgb(47, 85, 46);
  font-size: 50px;
  margin-top: 10px;

}

a:link {
  color: black !important;
  text-decoration-color: none !important;

}
.nav-item {
  font-family: 'Montserrat', sans-serif;
}

.nav-link{
  color: black !important;
  text-decoration: none !important;
  margin-top: 20px;
  font-weight: bolder;
}

#car-container {
  max-width: 40vw;
  
  border-radius: 10px;
 

}

.d-block {
  max-height: 400px;
  border-radius: 10px !important;
  margin-top: 10px;

}
