body {
  background-image: url("../images/bgimage1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.container {
  width: 100vw;
}

#main-header {
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 90px;
  margin: 250px auto;
  font-weight: 100;
  text-align: center; 
  
  
}

.navbar {
  background-color: transparent !important;
  margin: 0 auto !important;
  text-align: center !important;
  
}

.navbar:first-child {
  margin-left: 10% !important;
 
}

.nav-link {
  color: white !important;
  font-size: 22px;
  
  font-family: 'Montserrat', sans-serif;
  text-align: center !important;
  margin-right: 155px;
  
}


a:hover {
  color: rgb(212, 229, 255) !important;
}